<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!--<event name="sales_order_save_after">-->
        <!--<observer name="OrderExporter_sales_order_save_after" instance="ModernRetail\OrderExporter\Observer\SalesOrderSaveAfter"  />-->
    <!--</event> -->
    <!--<event name="sales_order_invoice_save_after">-->
        <!--<observer name="OrderExporter_sales_order_invoice_save_after" instance="ModernRetail\OrderExporter\Observer\SalesOrderInvoicePayAfter" />-->
    <!--</event>-->
    <!--<event name="sales_order_creditmemo_save_after">-->
        <!--<observer name="OrderExporter_sales_order_creditmemo_refund" instance="ModernRetail\OrderExporter\Observer\SalesOrderCreditmemoRefund" />-->
    <!--</event>-->

    <event name="modernretail_order_export">
        <observer name="OrderExporter_sales_order_save_after" instance="ModernRetail\OrderExporter\Observer\SalesOrderSaveAfter"  />
    </event>
    <event name="modernretail_invoice_export">
        <observer name="OrderExporter_sales_order_invoice_save_after" instance="ModernRetail\OrderExporter\Observer\SalesOrderInvoicePayAfter" />
    </event>
    <event name="modernretail_creditmemo_export">
        <observer name="OrderExporter_sales_order_creditmemo_refund" instance="ModernRetail\OrderExporter\Observer\SalesOrderCreditmemoRefund" />
    </event>
</config>  
