<?xml version="1.0"?>
<!--
/**
 * {{Emipro}}_{{Smsnotification}} extension
 *                     NOTICE OF LICENSE
 * 
 *                     This source file is subject to the MIT License
 *                     that is bundled with this package in the file LICENSE.txt.
 *                     It is also available through the world-wide-web at this URL:
 *                     http://opensource.org/licenses/mit-license.php
 * 
 *                     @category  Emipro
 *                     @package   Emipro_Smsnotification
 *                     @copyright Copyright (c) 2015
 *                     @license   http://opensource.org/licenses/mit-license.php MIT License
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
    	<add id="Emipro_Smsnotification::smsnotification" title="Emipro - Order Notification by SMS" module="Emipro_Smsnotification" sortOrder="80" parent="Magento_Backend::system" resource="Emipro_Smsnotification::smsnotification"/>

        <add id="Emipro_Smsnotification::smsevent" title="SMS Notification Events" module="Emipro_Smsnotification" sortOrder="10" action="emipro_smsnotification/smsevent" resource="Emipro_Smsnotification::smsevent" parent="Emipro_Smsnotification::smsnotification"/>

        <add id="Emipro_Smsnotification::smslog" title="SMS Notification Log" module="Emipro_Smsnotification" sortOrder="20" action="emipro_smsnotification/smslog" resource="Emipro_Smsnotification::smslog" parent="Emipro_Smsnotification::smsnotification"/>
    </menu>
</config>
